$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_arrow_left: "\e900";
$icon_arrow_right: "\e901";
$icon_arrow_long: "\e902";
$icon_arrow_long_sm: "\e903";
$icon_arrow_sm: "\e904";
$icon_arrow_oval: "\e905";
$icon_star: "\e906";
$icon_flaf_left: "\e907";
$icon_flag_right: "\e908";
$icon_location: "\e909";
$icon_play: "\e90a";
$icon_error: "\e90b";
$icon_discont: "\e90c";
$icon_clock: "\e90d";
$icon_phone: "\e90e";
$icon_telegram: "\e90f";
$icon_vk: "\e910";

