{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1670331318007.011,
          "ctimeMs": 1670331318007.011,
          "date": "2022-12-06T12:55:18.305Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422367.755,
          "ctimeMs": 1670310592098.8352,
          "date": "2022-12-06T09:01:35.090Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1670311578894.1013,
          "ctimeMs": 1670311578894.3606,
          "date": "2022-12-06T09:01:35.446Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1670311615359.8723,
          "ctimeMs": 1670311615360.1743,
          "date": "2022-12-06T09:01:35.678Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1670331553431.574,
          "ctimeMs": 1670331553431.574,
          "date": "2022-12-06T12:59:13.753Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1670311584897.8555,
          "ctimeMs": 1670311584898.179,
          "date": "2022-12-06T09:01:36.108Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591975.6655,
          "date": "2022-12-06T09:01:36.410Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591979.1284,
          "date": "2022-12-06T09:01:36.764Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591977.3027,
          "date": "2022-12-06T09:01:37.072Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591974.0474,
          "date": "2022-12-06T09:01:37.415Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591971.591,
          "date": "2022-12-06T09:01:37.970Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591965.9705,
          "date": "2022-12-06T09:01:38.260Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591968.8152,
          "date": "2022-12-06T09:01:38.547Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591964.9705,
          "date": "2022-12-06T09:01:39.116Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.eot",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1670310591972.41,
          "date": "2022-12-06T09:01:39.419Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.ttf",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1670310591963.8328,
          "date": "2022-12-06T09:01:39.686Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1670310591976.49,
          "date": "2022-12-06T09:01:39.969Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff2",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1670310591969.7603,
          "date": "2022-12-06T09:01:40.207Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591973.242,
          "date": "2022-12-06T09:01:40.535Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591970.725,
          "date": "2022-12-06T09:01:40.853Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591967.91,
          "date": "2022-12-06T09:01:41.118Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591966.938,
          "date": "2022-12-06T09:01:41.407Z"
        },
        {
          "file": "fonts/Roboto/demo.html",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591978.1726,
          "date": "2022-12-06T09:01:41.625Z"
        },
        {
          "file": "fonts/Roboto/stylesheet.css",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1670310591974.8357,
          "date": "2022-12-06T09:01:41.859Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.eot",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1670310591941.3008,
          "date": "2022-12-06T09:01:42.149Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.ttf",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1670310591946.9072,
          "date": "2022-12-06T09:01:42.446Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1670310591940.342,
          "date": "2022-12-06T09:01:42.740Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591945.4993,
          "date": "2022-12-06T09:01:42.975Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591959.1965,
          "date": "2022-12-06T09:01:43.243Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591952.14,
          "date": "2022-12-06T09:01:43.527Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591942.3088,
          "date": "2022-12-06T09:01:43.775Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591954.9507,
          "date": "2022-12-06T09:01:43.991Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591943.2585,
          "date": "2022-12-06T09:01:44.260Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591939.3276,
          "date": "2022-12-06T09:01:44.544Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591944.314,
          "date": "2022-12-06T09:01:44.808Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591956.4036,
          "date": "2022-12-06T09:01:45.024Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591953.4739,
          "date": "2022-12-06T09:01:45.312Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591960.496,
          "date": "2022-12-06T09:01:45.591Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591961.588,
          "date": "2022-12-06T09:01:45.859Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591950.0234,
          "date": "2022-12-06T09:01:46.141Z"
        },
        {
          "file": "fonts/Roboto_Slab/demo.html",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591957.841,
          "date": "2022-12-06T09:01:46.358Z"
        },
        {
          "file": "fonts/Roboto_Slab/stylesheet.css",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1670310591948.329,
          "date": "2022-12-06T09:01:46.541Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.3525,
          "date": "2022-12-06T11:34:25.576Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.382,
          "date": "2022-12-06T11:34:25.724Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.3228,
          "date": "2022-12-06T11:34:25.862Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.293,
          "date": "2022-12-06T11:34:25.986Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.2036,
          "date": "2022-12-06T11:34:26.135Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.2341,
          "date": "2022-12-06T11:34:26.265Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.5352,
          "date": "2022-12-06T11:34:26.406Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.564,
          "date": "2022-12-06T10:33:38.725Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.4749,
          "date": "2022-12-06T11:34:26.540Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1670322700000,
          "ctimeMs": 1670322711278.5059,
          "date": "2022-12-06T11:34:26.668Z"
        },
        {
          "file": "fonts/manrope/Manrope-Bold.eot",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.6543,
          "date": "2022-12-06T09:01:48.923Z"
        },
        {
          "file": "fonts/manrope/Manrope-Bold.ttf",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.8193,
          "date": "2022-12-06T09:01:49.203Z"
        },
        {
          "file": "fonts/manrope/Manrope-Bold.woff",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.4673,
          "date": "2022-12-06T09:01:49.408Z"
        },
        {
          "file": "fonts/manrope/Manrope-Bold.woff2",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.4053,
          "date": "2022-12-06T09:01:49.608Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraBold.eot",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.7954,
          "date": "2022-12-06T09:01:49.920Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraBold.ttf",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.6318,
          "date": "2022-12-06T09:01:50.218Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraBold.woff",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.4934,
          "date": "2022-12-06T09:01:50.440Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraBold.woff2",
          "mtimeMs": 1670307316000,
          "ctimeMs": 1670307350248.1387,
          "date": "2022-12-06T09:01:50.672Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraLight.eot",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.5417,
          "date": "2022-12-06T09:01:50.906Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraLight.ttf",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.7212,
          "date": "2022-12-06T09:01:51.159Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraLight.woff",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.355,
          "date": "2022-12-06T09:01:51.373Z"
        },
        {
          "file": "fonts/manrope/Manrope-ExtraLight.woff2",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.2847,
          "date": "2022-12-06T09:01:51.592Z"
        },
        {
          "file": "fonts/manrope/Manrope-Light.eot",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.5874,
          "date": "2022-12-06T09:01:51.841Z"
        },
        {
          "file": "fonts/manrope/Manrope-Light.ttf",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.7434,
          "date": "2022-12-06T09:01:52.093Z"
        },
        {
          "file": "fonts/manrope/Manrope-Light.woff",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.217,
          "date": "2022-12-06T09:01:52.424Z"
        },
        {
          "file": "fonts/manrope/Manrope-Light.woff2",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.5186,
          "date": "2022-12-06T09:01:52.641Z"
        },
        {
          "file": "fonts/manrope/Manrope-Medium.eot",
          "mtimeMs": 1670307316000,
          "ctimeMs": 1670307350248.4429,
          "date": "2022-12-06T09:01:52.872Z"
        },
        {
          "file": "fonts/manrope/Manrope-Medium.ttf",
          "mtimeMs": 1670307316000,
          "ctimeMs": 1670307350248.2397,
          "date": "2022-12-06T09:01:53.108Z"
        },
        {
          "file": "fonts/manrope/Manrope-Medium.woff",
          "mtimeMs": 1670307316000,
          "ctimeMs": 1670307350248.262,
          "date": "2022-12-06T09:01:53.357Z"
        },
        {
          "file": "fonts/manrope/Manrope-Medium.woff2",
          "mtimeMs": 1670307316000,
          "ctimeMs": 1670307350248.6768,
          "date": "2022-12-06T09:01:53.578Z"
        },
        {
          "file": "fonts/manrope/Manrope-Regular.eot",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.841,
          "date": "2022-12-06T09:01:53.841Z"
        },
        {
          "file": "fonts/manrope/Manrope-Regular.ttf",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.699,
          "date": "2022-12-06T09:01:54.140Z"
        },
        {
          "file": "fonts/manrope/Manrope-Regular.woff",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.6099,
          "date": "2022-12-06T09:01:54.373Z"
        },
        {
          "file": "fonts/manrope/Manrope-Regular.woff2",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.194,
          "date": "2022-12-06T09:01:54.589Z"
        },
        {
          "file": "fonts/manrope/Manrope-SemiBold.eot",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.162,
          "date": "2022-12-06T09:01:54.822Z"
        },
        {
          "file": "fonts/manrope/Manrope-SemiBold.ttf",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.3289,
          "date": "2022-12-06T09:01:55.129Z"
        },
        {
          "file": "fonts/manrope/Manrope-SemiBold.woff",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.307,
          "date": "2022-12-06T09:01:55.391Z"
        },
        {
          "file": "fonts/manrope/Manrope-SemiBold.woff2",
          "mtimeMs": 1670307314000,
          "ctimeMs": 1670307350248.1118,
          "date": "2022-12-06T09:01:55.621Z"
        },
        {
          "file": "fonts/manrope/demo.html",
          "mtimeMs": 1670307316000,
          "ctimeMs": 1670307350248.7656,
          "date": "2022-12-06T09:01:55.839Z"
        },
        {
          "file": "fonts/manrope/stylesheet.css",
          "mtimeMs": 1670315204363.1104,
          "ctimeMs": 1670315204363.1104,
          "date": "2022-12-06T09:01:56.022Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Black.eot",
          "mtimeMs": 1670307502000,
          "ctimeMs": 1670307547574.756,
          "date": "2022-12-06T09:01:56.303Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Black.ttf",
          "mtimeMs": 1670307502000,
          "ctimeMs": 1670307547574.9458,
          "date": "2022-12-06T09:01:56.609Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Black.woff",
          "mtimeMs": 1670307502000,
          "ctimeMs": 1670307547574.9976,
          "date": "2022-12-06T09:01:56.839Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Black.woff2",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547575.0398,
          "date": "2022-12-06T09:01:57.106Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Bold.eot",
          "mtimeMs": 1670307502000,
          "ctimeMs": 1670307547574.639,
          "date": "2022-12-06T09:01:57.387Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Bold.ttf",
          "mtimeMs": 1670307502000,
          "ctimeMs": 1670307547574.4407,
          "date": "2022-12-06T09:01:57.673Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Bold.woff",
          "mtimeMs": 1670307502000,
          "ctimeMs": 1670307547574.7327,
          "date": "2022-12-06T09:01:57.925Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Bold.woff2",
          "mtimeMs": 1670307502000,
          "ctimeMs": 1670307547574.5125,
          "date": "2022-12-06T09:01:58.392Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-ExtraBold.eot",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.852,
          "date": "2022-12-06T09:01:59.409Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-ExtraBold.ttf",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547575.0608,
          "date": "2022-12-06T09:02:00.422Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-ExtraBold.woff",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.9763,
          "date": "2022-12-06T09:02:01.139Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-ExtraBold.woff2",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.6626,
          "date": "2022-12-06T09:02:01.834Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Medium.eot",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547574.3713,
          "date": "2022-12-06T09:02:02.350Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Medium.ttf",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547574.6147,
          "date": "2022-12-06T09:02:02.649Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Medium.woff",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547574.402,
          "date": "2022-12-06T09:02:03.555Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Medium.woff2",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547574.8774,
          "date": "2022-12-06T09:02:03.794Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Regular.eot",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547574.901,
          "date": "2022-12-06T09:02:04.057Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Regular.ttf",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547574.8032,
          "date": "2022-12-06T09:02:04.336Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Regular.woff",
          "mtimeMs": 1670307504000,
          "ctimeMs": 1670307547575.019,
          "date": "2022-12-06T09:02:04.622Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-Regular.woff2",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.591,
          "date": "2022-12-06T09:02:04.877Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-SemiBold.eot",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.7092,
          "date": "2022-12-06T09:02:05.153Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-SemiBold.ttf",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.5627,
          "date": "2022-12-06T09:02:05.582Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-SemiBold.woff",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.6863,
          "date": "2022-12-06T09:02:05.823Z"
        },
        {
          "file": "fonts/playfair/PlayfairDisplay-SemiBold.woff2",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.8254,
          "date": "2022-12-06T09:02:06.088Z"
        },
        {
          "file": "fonts/playfair/demo.html",
          "mtimeMs": 1670307506000,
          "ctimeMs": 1670307547574.9233,
          "date": "2022-12-06T09:02:06.292Z"
        },
        {
          "file": "fonts/playfair/stylesheet.css",
          "mtimeMs": 1670315397324.4275,
          "ctimeMs": 1670315397324.4275,
          "date": "2022-12-06T09:02:06.455Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1670331256448.5032,
          "ctimeMs": 1670331277156.9365,
          "date": "2022-12-06T12:54:37.518Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1670308132778.5212,
          "ctimeMs": 1670331147568.1355,
          "date": "2022-12-06T12:52:27.939Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1670311536110.7478,
          "ctimeMs": 1670311536110.968,
          "date": "2022-12-06T09:02:06.955Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1670311624270.4524,
          "ctimeMs": 1670311624270.7087,
          "date": "2022-12-06T09:02:07.157Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1666358151865.4297,
          "ctimeMs": 1670310592031.6616,
          "date": "2022-12-06T09:02:07.325Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1670330981374.0754,
          "ctimeMs": 1670330981374.0754,
          "date": "2022-12-06T12:49:41.716Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1670310592034.299,
          "date": "2022-12-06T09:02:07.708Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1670311781694.4766,
          "ctimeMs": 1670311781694.7168,
          "date": "2022-12-06T09:02:07.872Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1670310592032.606,
          "date": "2022-12-06T09:02:08.039Z"
        },
        {
          "file": "js/slider.js",
          "mtimeMs": 1670311547858.8208,
          "ctimeMs": 1670311547859.047,
          "date": "2022-12-06T09:02:08.204Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1670311552063.1672,
          "ctimeMs": 1670311552063.5088,
          "date": "2022-12-06T09:02:08.443Z"
        },
        {
          "file": "img/naw_bg.jpg",
          "mtimeMs": 1670326893402.5889,
          "ctimeMs": 1670326902594.5588,
          "date": "2022-12-06T11:41:42.966Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
