// Style for button and pseudo button for input and link

.btn {
	display: inline-block;
	padding: 1.56em 1em;
	width: 100%;
	@media (min-width: 768px) {
		width: auto;
		padding: 1.56em 3.75em;

	}

	border: none;
	outline: none;

	// max-width: 100%;
	border-radius: 0.375em;
	background-color: $color_primary;

	font-family: $main_font_family;
	color: $color_white;
	font-weight: 800;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	cursor: pointer;

	transition-property: background color border-color;
	transition: 0.3s;

	&:hover {
		background-color: #CCBDB2;
	}

	&:active,
	&:focus {
		background-color: #B5A79D;

	}

	&:disabled {
		background-color: lighten($color_primary, 10%);
		cursor: not-allowed;
	}

}
