/* Header
 ----------------------------------------------------------------------------- */
.header {
	&__top {
		position: relative;
		z-index: 10;
		background-color: rgba($main_color,1);
		color: $color_white;

		padding: 0.5em 0;
		@media (min-width: 768px) {
			padding: 1.6875em 0;

		}

	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.25em;

		@media (min-width: 768px) {
			padding: 0;
			justify-content: flex-start;
		}
	}

	&__toggle {
		@media (min-width: 768px) {
			margin: 0 4.375em;
			display: flex;
			align-items: center;
		}

		.toggle__icon {
			&:after {
				content: none;

			}

			cursor: pointer;
			transition: 0.3s;

			&:hover {
				background-color: #CCBDB2;
			}

			&.active {
				background-color: $color_primary;
			}

		}

		.toggle__label {
			@media (min-width: 768px) {
				margin-left: 0.9375em;

				letter-spacing: 0.1em;
				text-transform: uppercase;

				span {
					font-weight: 600;
					font-size: 14px;
				}
			}
		}
	}

	&__logo {
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			order: -1;
		}

		.logo {
			display: block;
			width: 4.625em;
			height: 4.0625em;
			font-size: 0.75em;
			@media (min-width: 768px) {
				font-size: 1em;

			}

			img {
				width: 100%;
				object-fit: cover;
			}

			&__label {
				@media (min-width: 768px) {
					line-height: 1.25;
					margin-left: 2.375em;

					span {
						font-weight: 500;
						font-size: 0.8125em;
					}

				}
			}
		}
	}

	&__phone {
		.phone__label {
			@media (min-width: 768px) {
				font-size: 0.875em;
				/* 14/16 */
			}
		}
	}

	&__action {
		@media (min-width: 768px) {
			display: flex;
			flex-direction: column;
			margin-left: 7.3125em;

			a {
				font-size: 1em;
				color: $color_white;
				font-weight: 500;

				&:first-child {
					margin-bottom: 0.375em;
				}
			}

		}
	}

	&__bottom {
		position: relative;
	}

	&__nav {
		position: absolute;
		top: -30em;
		left: 0;

		width: 100%;

		opacity: 0;
		transition: 0.3s;
		background-color: #f2f2f2;
		@media (min-width: 768px) {
			background-image: url("../img/naw_bg.jpg");

		}

		&.active {
			top: 0;
			opacity: 1;
		}

	}
}

.navbar {
	padding: 1.875em 2.625em;
	@media (min-width: 768px) {
		padding: 3em 0 4.25em;
	}
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	@media (min-width: 768px) {
		width: 54.875em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 4.6875em;
		grid-row-gap: 1.75em;

	}

	&-item {
		position: relative;
		margin-bottom: 1.75em;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: '\e903';
			font-family: 'icomoon';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			color: $color_primary;
			opacity: 0;
			transition: opacity 0.3s;

			font-size: 0.27em;
			@media (min-width: 768px) {
				font-size: 0.375em;

			}

		}

		a {
			position: relative;
			display: inline-block;
			transform: translateX(0);
			font-family: $second_font_family;
			color: $main_color;
			text-decoration: none;
			font-weight: 600;
			transition: 0.3s;

			font-size: 1.125em;
			@media (min-width: 768px) {
				font-size: 1.625em;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				border-bottom: 0.031em solid $color_primary;
				opacity: 0;
				transition: opacity 0.3s;

			}

		}

		&:hover {
			&:before {
				opacity: 1;

			}

			a {
				color: $color_primary;
				transform: translateX(2.5em);
				@media (min-width: 768px) {
					transform: translateX(2.3em);

				}

			}
		}
	}

}

.current-menu-item {
	&:before {
		opacity: 1;

	}

	a {
		color: $color_primary;

		&:after {
			opacity: 1;
		}
		transform: translateX(2.5em);
		@media (min-width: 768px) {
			transform: translateX(2.3em);

		}

	}
}

.nav-open {
	overflow: hidden;
}
