.phone {
    text-decoration: none;
    color: $main_color;
    display: flex;
    align-items: center;

    &__icon {
        transition: 0.3s;

        &:after {
            transition: 0.3s;

        }
    }

    &__content {
        color: $color_white;
        margin-left: 1.25em;

    }

    &__number {
        margin-bottom: 0.125em;

        span {
            font-weight: 700;
            font-size: 1.25em;
        }
    }

    &__label {
        span {
            font-weight: 500;
            font-size: 1em;
        }
    }

    &:hover {
        .phone__icon {
            background-color: #CCBDB2;

            &:after {
                background-color: $color_white;

            }
        }
    }

    &:active {
        .phone__icon {
            background-color: #B5A79D;
        }
    }

}
