// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;

	font-size: calc(.04444445 * 100vw + 0px);

	background-color: #FAFAFA;

	&.bg_white {
		background-color: $color_white;

	}
	// background-color: red;

	@media (min-width: 768px) {

		font-size: calc(.00833334 * 100vw + 0px);
	}

	// @media (min-width: 1200px) {
	// 	// font-size: calc(.00838 * 100vw + 0px);
	// }
	//
	// @media (min-width: 1600px) {
	// 	font-size: $main_font_size;
	// }

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;

	overflow: hidden;

}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
}

.container_center {
	max-width: $container_width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.625em;

	@media (min-width: 768px) {
		padding: 0 1em;
	}

	&_lg {
		max-width: $container_width_lg;
	}

	&_xl {
		max-width: $container_width_xl;
	}
}

.section {
	padding: 1.5625em 0;
	@media (min-width: 768px) {
		padding: 3.125em 0;
	}

	&:first-child {
		padding-top: 6.25em;
		@media (min-width: 768px) {
			padding-top: 12em;
		}
	}

	&_bg {
		padding-top: 0!important;
	}

	&__title {
		font-family: $main_font_family;
		color: $color_title;
		font-size: 1em;
		margin: 0;
		letter-spacing: 0.075em;
		line-height: 1.4;

		span {
			font-size: 1.75em;
			font-weight: 300;
			@media (min-width: 768px) {
				font-size: 3.25em;
			}

			i {
				font-family: $second_font_family;
				font-style: italic;
				font-weight: 600;
			}

			em {
				font-style: italic;
				font-weight: 600;
			}

		}

		&_lg {
			line-height: 1.5;

			span {
				font-size: 1.875em;
				font-weight: 300;
				@media (min-width: 768px) {
					font-size: 3.375em;
				}

			}
		}
	}

}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.d-none {
	display: none;
}

.d-block {
	display: block!important;
}

.bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.img {
	width: 100%;

	img {
		width: 100%;
		// height: 100%;
		object-fit: cover;
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link_arrow {
	a {
		position: relative;
		display: inline-flex;
		align-items: center;
		font-weight: 700;
		text-transform: uppercase;
		color: $main_color;
		text-decoration: none;
		font-size: 1em;

		&:after {
			content: '\e904';
			font-family: 'icomoon';
			font-size: 0.45em;
			margin-left: 1.72em;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -0.25em;
			left: 0;
			width: 100%;
			height: 0.039em;
			background-color: $main_color;
		}

		// &:hover {
		// 	color: lighten($main_color, 5%);
		// }
		//
		// &:active {
		// 	color: darken($main_color, 5%);
		// }
	}
}

.counter-wrap {
	counter-reset: line var(--line-num, 0);
}

.counter-item {
	counter-increment: line;

	&:nth-child(n+10) {
		.counter-el {
			&:before {
				content: none;

			}
		}
	}

	.counter-el {
		&:before {
			content: '0';

		}

		&:after {
			content: counter(line) ' ';
		}

	}
}

.circle {
	flex: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 3.125em;
	height: 3.125em;
	border-radius: 50%;

	background-color: $color_white;
	color: $main_color;
	font-size: 0.75em;
	@media (min-width: 768px) {
		font-size: 1em;

	}

	.icon_phone {
		font-size: 0.875em;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0.0625em;
		right: 0.3125em;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50%;
		background-color: $color_primary;
	}
}

.star {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.75em;
	height: 4.75em;
	border-radius: 50%;
	border: 0.0625em solid $color_primary;
	color: $color_primary;
	font-size: 0.71em;
	@media (min-width: 768px) {
		font-size: 1em;

	}

	i {
		font-size: 1.375em;
	}

	&_sm {
		@media (min-width: 768px) {
			font-size: 0.92em;
		}
	}

	&_light {
		background-color: $color_white;
		color: #D8E2EC;
		border: 0;
	}

}

.crumbs {
	display: flex;
	gap: 0.4375em;
	align-items: center;

	&_col {
		flex-direction: column;
	}

	.crumb {
		width: 0.25em;
		height: 0.25em;

		border-radius: 50%;
		background-color: rgba(#CDBEA0, 1);

		-webkit-animation: opacity 1.8s infinite linear;
		animation: opacity 1.8s infinite linear;

		&:nth-child(2) {
			-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
		}

		&:nth-child(3) {
			-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s;
		}
	}
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0.3;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.3;
	}
}

@keyframes opacity {
	0% {
		opacity: 0.3;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.3;
	}

}

.elipse {
	position: absolute;
	z-index: -1;

	width: 78.125em;
	height: 27em;
	border: 0.0625em solid #E8E8E8;
	// border: 0.0625em solid red;
	border-radius: 50%;

	font-size: 0.44em;
	@media (min-width: 768px) {
		font-size: 1em;

	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid #E8E8E8;
		// border: 1px solid red;
		border-radius: 50%;
		transform: rotate(20deg);
	}

}
