.play {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background-color: $color_white;

	cursor: pointer;
	transition: 0.3s;

	width: 10.5em;
	height: 10.5em;
	@media (min-width: 768px) {
		width: 14.25em;
		height: 14.25em;

	}

	&:hover {
		background-color: #CCBDB2;

		.play__icon {
			color: $color_white;
		}

		.play__label {
			color: $color_white;
		}
	}

	&:active {
		background-color: #B5A79D;
	}

	&__content {
		text-align: center;
	}

	&__icon {
		color: $color_primary;
		margin-bottom: 0.75em;
		transition: 0.3s;
		@media (min-width: 768px) {
			margin-bottom: 1.375em;

		}

		i {
			font-size: 1.625em;
		}
	}

	&__label {
		letter-spacing: 0.1em;
		color: $main_color;
		font-weight: 800;
		transition: 0.3s;
		line-height: 1.4;
		@media (min-width: 768px) {
			line-height: 1.55;

		}

		span {
			text-transform: uppercase;
			font-size: 0.8125em;
			/* 13/16 */
			@media (min-width: 768px) {
				font-size: 1em;
			}
		}
	}

}

.pulse {
	position: absolute;
	// border: 1px solid red;
	// width: 2em;
	// height: 2em;
	// z-index: 2;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		display: block;
		transition: 0.3s;
		border: 0.0625em solid $color_white;
		// border: 1px solid red;
		border-radius: 50%;
		opacity: 0.3;
		animation: 4s pulse infinite;
		-webkit-animation: 4s pulse infinite;

		&:nth-child(1) {
			width: 39em;
			height: 39em;
		}

		&:nth-child(2) {
			width: 59.125em;
			height: 59.125em;
			-webkit-animation-delay: 1s;
			animation-delay: 1s;
		}

		&:nth-child(3) {
			width: 80.4375em;
			height: 80.4375em;
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
		}
	}
}
@keyframes pulse {
	0% {
		transform: translate(-50%,-50%) scale(1);

	}

	60% {
		opacity: 0.1;
	}

	to {
		opacity: 0;
		transform: translate(-50%,-50%) scale(1.025);
	}
}
