
<!-- begin benefits-->
<section class="benefits section" id="benefits">
  <div class="crumbs crumbs_col mobile"><span class="crumb"></span><span class="crumb"></span><span class="crumb"></span></div>
  <div class="elipse desktop"></div>
  <div class="container_center">
    <h2 class="section__title"><span><i>«КофеМед» — это не просто центр красоты,</i> а экспертная клиника эстетической</span><span>медицины и врачебной косметологии</span></h2>
    <div class="benefits__grid counter-wrap">
      <div class="benefits__item counter-item">
        <div class="benefits__bg bg" style="background-image: url('../../img/benefits_1.jpg')">
          <div class="benefits__number"><i>/ </i><span class="counter-el"></span></div>
        </div>
        <div class="benefits__content">
          <div class="benefits__title"><span>Профессиональная команда</span></div>
          <div class="benefits__text"><span>В нашем штате только специалисты с высшим и среднеспециальным медицинским образованием</span></div>
        </div>
      </div>
      <div class="benefits__item counter-item">
        <div class="benefits__bg bg" style="background-image: url('../../img/benefits_2.jpg')">
          <div class="benefits__number"><i>/ </i><span class="counter-el"></span></div>
        </div>
        <div class="benefits__content">
          <div class="benefits__title"><span>Ответственность и безопасность</span></div>
          <div class="benefits__text"><span>Работаем полностью легально по гос.лицензии. На 100% обеспечиваем нормы асептики и антисептики при проведении всех процедур</span></div>
        </div>
      </div>
      <div class="benefits__item counter-item">
        <div class="benefits__bg bg" style="background-image: url('../../img/benefits_3.jpg')">
          <div class="benefits__number"><i>/ </i><span class="counter-el"></span></div>
        </div>
        <div class="benefits__content">
          <div class="benefits__title"><span>Современное оборудование<br> и лучшие препараты</span></div>
          <div class="benefits__text"><span>Например, один из 4-х официально зарегистрированных в РФ<br> аппаратов для SMAS-лифтинга Liftera находится именно у нас</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end benefits-->