
<!-- begin bottom-->
<section class="bottom section" id="bottom">
  <div class="container_center container_center_xl">
    <div class="bottom__bg bg">
      <div class="container_center">
        <div class="bottom__content">
          <h2 class="section__title"><span><i>Будем рады видеть вас</i><br> в числе наших клиентов</span></h2>
          <div class="bottom__video">
            <div class="play youtubeModal-js" id="rsDoGqnPE4c">
              <div class="play__content">
                <div class="play__icon"><i class="icon_play"></i></div>
                <div class="play__label"><span>видео <br> о клинике</span></div>
              </div>
            </div>
            <div class="pulse"><span></span><span></span><span class="desktop"></span></div>
          </div>
          <div class="bottom__info">
            <div class="bottom__item">
              <div class="bottom__icon circle" data-aos="fade-right" data-aos-delay="400"><i class="icon_phone"></i></div>
              <div class="bottom__text"><b>Телефон: <a href="tel:8 (8352) 28-51-19">8 (8352) 28-51-19</a></b><span>с 9:00 до 20:00 (ежедневно)</span></div>
            </div>
            <div class="bottom__item">
              <div class="bottom__icon circle" data-aos="fade-right" data-aos-delay="600"><i class="icon_location"></i></div>
              <div class="bottom__text"><b>Адрес:</b><span>Чувашская Республика, г. Чебоксары,<br> ул. Гражданская, дом 5, помещение 14</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end bottom-->