// begin bottom
section#bottom.bottom.section
    .container_center.container_center_xl
        .bottom__bg.bg
            .container_center
                .bottom__content
                    h2.section__title
                        span <i>Будем рады видеть вас</i><br> в числе наших клиентов
                    .bottom__video
                        .play.youtubeModal-js#rsDoGqnPE4c
                            .play__content
                                .play__icon
                                    i.icon_play
                                .play__label
                                    span видео <br> о клинике

                        .pulse
                            span
                            span
                            span.desktop
                    .bottom__info
                        .bottom__item
                            .bottom__icon.circle(data-aos="fade-right" data-aos-delay="1000")
                                i.icon_phone
                            .bottom__text
                                b Телефон: <a href="tel:8 (8352) 28-51-19">8 (8352) 28-51-19</a>
                                span с 9:00 до 20:00 (ежедневно)

                        .bottom__item
                            .bottom__icon.circle(data-aos="fade-right" data-aos-delay="1200")
                                i.icon_location
                            .bottom__text
                                b Адрес:
                                span Чувашская Республика, г. Чебоксары,<br> ул. Гражданская, дом 5, помещение 14


// end bottom
