// Begin Modal modalVideo
.modal.fade.modalVideo#modalVideo
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
                i.icon_error
            .modal-body 
                .modalVideo__wraper
// End modal modalVideo



// Begin Modal returncall
.modal.fade.returncall#returncall
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
                i.icon_error
            .modal-body 
                .modal-caption
                    .section__title
                        span <i>Закажите обратный<br> звонок администратора</i>

                    .crumbs
                        span.crumb
                        span.crumb
                        span.crumb

                    .modal-label
                        span Оставьте свой номер и мы свяжемся с вами в ближайшее время

                .modal-form
                    form.form.form_grid
                        .form__row.form__row_error
                            input(type="tel" class="tel" required placeholder="+ 7 ( 000 ) 000-00-00")
                        .form__row
                            button.btn(type="submit")
                                span заказать звонок



// End modal returncall
