extends ../layout/layout.pug
block variable
    -var path = '../';
    //- -var headerOpasity = 'header_opacity';
    -var bodyBgColor = 'bg_white';


block content
    // begin events
    section#events.events.section
        .container_center
            h1.section__title.section__title_lg
                span <i>Обучение</i> в академии «КофеМед»
            .events__desc
                span Повышение квалификации для косметологов и специалистов со всех городов России
            .events__content.events__content_single
                .events__title
                    span Обучающий семинар
                .events__subtitle
                    span «Неотложные состояния в практике врача косметолога»
                ul.events__info.list
                    li
                        span <b>Дата и время проведения:</b> 28 августа 2022 г, 09:00-14:00
                    li
                        span <b>Формат участия:</b> только оффлайн
                    li
                        span <b>Адрес:</b> г. Чебоксары, ул. Гражданская, д. 5, пом. 14
                    li
                        span <b>Стоимость участия:</b> 2000 ₽

                .events__calback
                    span <i>Чтобы принять участие,</i> звоните +7 (8352) 28-51-19
                .events__lector
                    span <b>Лектор:</b> <a href="#">@doctor.dinar.khaliullin</a> Халиуллин Динар Мансурович. Врач анестезиолог-реаниматолог высшей квалификационной категории, кандидат медицинских наук, заведующий отделения анестезиологии Центра пластической хирургии и сети клиник ООО «Дентал Форте» г. Набережные Челны, член Федерации анестезиологов реаниматологов России, член Ассоциации детских анестезиологов реаниматологов России, отличник стоматологической ассоциации России.

                .events__label
                    span План семинара:
                .events__plan
                    p Местная анестезия (9:00-10:00)

                    ul
                        each item in ['Механизм действия местных анестетиков', 'Классификация местных анестетитков', 'Фармакокинетика и фармакодинамика местных анестетиков', ]
                            li
                                span=item

                    p Неотложные состояния в косметологии (10:00-12:00)

                    ul
                        each item in ['Анафилаксия (клиника, алгоритм действий)', 'Токсическая реакция на местный анестетик (клиника, алгоритм действий)', 'Синдром бронхообструкции (клиника, алгоритм действий)', 'Судорожный синдром (клиника, алгоритм действий)', 'Обморок (виды, алгоритм действий)', 'Кардиогенный шок (клиника, алгоритм действий)', 'Отек легких (клиника, тактика лечения)', 'Гипертонический криз (клиника, алгоритм действий)']
                            li
                                span=item

                    p Перерыв 12:00-12:20
                    p Сердечно-легочная реанимация (12:20-14:00)

                    ul
                        each item in ['Понятие «клиническая смерть»', 'Современные алгоритмы сердечно-легочной реанимации', ]    
                            li
                                span=item

                .events__action
                    a.btn(href="#") Принять участие























    // end events
